# CakePHP specific files and directories to ignore

# Docs
.docx
.docx.*
.pdf
/docs/*

# Logs and temporary files
/tmp/*
!/tmp/.gitkeep
/logs/*
!/logs/.gitkeep

# Configuration files containing sensitive information
/app_local.php
*.ini

# Cache files
/cache/*
!/cache/.gitkeep

# Composer dependencies (if you want to ignore vendor directory)
vendor/*

# Node modules (if applicable)
node_modules/

# Environment-specific files
.env
.env.*

# IDE-specific files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp
*.tmp
*.old
